<div class="row">
  <div class="col-md-6">
    <h3>Pre-exercises (to be completed before the start of the workshop)</h3>
    <table class="table table-striped">
        <tr> <td># 1</td>  <td>Python basics</td> <td></td> </tr>
        <tr> <td># 2</td>  <td>Four-vector manipulation</td> <td></td> </tr>
        <tr> <td># 3</td>  <td>Comparison of data and MC</td> <td></td> </tr>
        <tr> <td># 4</td>  <td>Weighting events</td> <td></td> </tr>
        <tr> <td># 5</td>  <td>Basic statistics</td> <td></td> </tr>
        <tr> <td># 6</td>  <td>Fitting</td> <td></td> </tr>
        <tr> <td># 7</td>  <td><a href="https://awesome-workshop.github.io/intro-to-docker/">Maybe Docker?</a></td> <td></td> </tr>
        <tr> <td># 8</td>  <td><a href="00-preexercise-docker/index.html">Docker pre-exercise</a></td> <td></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
        <tr> <td>06:00-08:00</td>  <td><a href="00-template/index.html">TEMPLATE</a></td> <td></td> </tr>
        <tr> <td>08:00-09:00</td>  <td>Workshop opens (test connectivity)</td> <td></td> </tr>
        <tr> <td>09:00-09:30</td>  <td>Overivew and orientation</td> <td>Matt Bellis</td> </tr>
        <tr> <td>09:30-10:00</td>  <td>CERN Open Data Portal</td> <td>Kati Lassila-Perini</td> </tr>
        <tr> <td>10:00-11:00</td>  <td>Experiences and analyses with CMS open data</td> <td>Jesse Thaler</td> </tr>
        <tr> <td>11:00-12:00</td>  <td>Logging in to the Open Data Portal <i>(hands-on)</i></td> <td>Edgar Carrera</td> </tr>
        <tr> <td>12:00-13:00</td>  <td><b>Lunch</b></td> <td></td> </tr>
        <tr> <td>13:00-15:00</td>  <td>Accessing data, copying data out of the portal<i>(hands-on)</i></td> <td>Multiple CMS facilitators</td> </tr>
        <tr> <td>15:00-15:30</td>  <td><b>Coffee break</b></td> <td></td> </tr>
        <tr> <td>13:30-18:00</td>  <td>Simple analysis <i>(hands-on)</i></td> <td>Multiple CMS facilitators</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
        <tr> <td>08:00-10:00</td>  <td>Analysis 1 <i>(hands-on)</i></td> <td>Multiple CMS facilitators</td> </tr>
        <tr> <td>10:00-10:30</td>  <td><b>Coffee break</b></td> <td></td> </tr>
        <tr> <td>10:30-12:00</td>  <td>Analysis 1 (cont.) <i>(hands-on)</i></td> <td>Multiple CMS facilitators</td> </tr>
        <tr> <td>12:00-13:00</td>  <td><b>Lunch</b></td> <td></td> </tr>
        <tr> <td>13:00-15:00</td>  <td>Analysis 2 <i>(hands-on)</i></td> <td>Multiple CMS facilitators</td> </tr>
        <tr> <td>15:00-15:30</td>  <td><b>Coffee break</b></td> <td></td> </tr>
        <tr> <td>15:30-18:00</td>  <td>Analysis 2 (cont) <i>(hands-on)</i></td> <td>Multiple CMS facilitators</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
        <tr> <td>08:00-10:00</td>  <td>Analysis 2, systematics <i>(hands-on)</i></td> <td>Multiple CMS facilitators</td> </tr>
        <tr> <td>10:00-10:30</td>  <td><b>Coffee break</b></td> <td></td> </tr>
        <tr> <td>10:30-15:00</td>  <td>Open discussion, feedback solicitation</td> <td>Everyone!</td> </tr>
    </table>
  </div>
</div>
