<div class="row">
  <div class="col-md-6">
    <h3>Pre-exercises</h3>
    <h5>(<em>Mandatory exercises must be completed before the start of the workshop</em>)</h5>
    <table class="table table-striped">
        <tr><td>Mandatory 5min</td><td><a
            href="https://cms-opendata-workshop.github.io/2020-09-30-cms-open-data-workshop-for-theorists/ORIENTATION.html">
            Orientation</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a
            href="https://cms-opendata-workshop.github.io/workshop-lesson-virtualmachine/">Virtual Machine</a> or<br>
          <a href="https://cms-opendata-workshop.github.io/workshop-lesson-docker-preexercises">Docker
            container</a> setup for CMS Open Data</td></tr>
        <tr><td>Mandatory 2h</td><td><a
            href="https://cms-opendata-workshop.github.io/workshop-lesson-cmssw">CMSSW
            fundamentals</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a
            href="https://cms-opendata-workshop.github.io/workshop-lesson-root">ROOT
            basics</a></td></tr>
        <tr><td>Mandatory 2h</td><td><a
            href="cms-opendata-workshop.github.io/fixme">A real CMS
            analysis quick read (H -> tau tau)</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
        <tr><td>Optional (external lesson)</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html/">Programming with Python</a></td></tr>
  <!--      <tr><td>Optional 2h</td><td><a
            href="cms-opendata-workshop.github.io/fixme">Add other
            optionals ...</a></td></tr> -->
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Wednesday</h3>
    <table class="table table-striped">
        <tr> <td>08:30-09:00</td><td><a href="fixmeslides">Welcome and orientation</a></td><td>Organizers</td></tr>
        <tr> <td>09:00-09:45</td><td>Live Presentation: <a href="fixmeslides">Workshop Introduction</a></td><td>Kati Lassila-Perini</td></tr>
        <tr style="background-color:#e6ffff"> <td>09:00-10:00</td><td>Break</td><td></td></tr>
        <tr> <td>10:00-10:45</td><td>Live Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">Dataset scouting</a></td><td>Matt Bellis</td></tr>
        <tr> <td>10:45-12:00</td><td>Live Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">Trigger manipulation</a></td><td>Edgar Carrera</td></tr>
        <tr style="background-color:#e6ffff"><td>12:00-12:15</td><td>Break</td><td></td></tr>
        <tr> <td>12:15-13:00</td><td>Live Demo: <a href="cms-opendata-workshop.github.io/fixme">Physics objects</a></td><td>Julie Hogan</td></tr>
        <tr style="background-color:#e6ffff"> <td>13:00-14:30</td><td>Lunch</td><td></td></tr>
        <tr> <td>14:30-16:00</td><td>Async Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">Physics objects I</a></td><td>(Julie Hogan)</td></tr>
        <tr> <td>16:00-17:00</td><td>Live Fermilab Colloquium:<br><a href="https://events.fnal.gov/colloquium/events/event/no-colloquium-9/">The Future is Open</a></td><td>Jesse Thaler</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday</h3>
    <table class="table table-striped">
      <tr> <td>08:30-10:00</td><td>Live Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">Physics objects II</a></td><td>Julie Hogan</td></tr>
      <tr style="background-color:#e6ffff"><td>10:00-10:15</td><td>Break</td><td></td></tr>
      <tr> <td>10:15-11:15</td><td>Live Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">Pre-selection and skimming</a></td><td>Julie Hogan</td></tr>
      <tr> <td>11:15-11:45</td><td>Live Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">Object ID and selection.</a></td><td>Julie Hogan</td></tr>
      <tr style="background-color:#e6ffff"><td>11:45-12:00</td><td>Break</td><td></td></tr>
      <tr> <td>12:00-13:00</td><td>Live Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">Pile up corrections</a></td><td>Santeri Laurila</td></tr>
      <tr style="background-color:#e6ffff"> <td>13:00-14:30</td><td>Lunch</td><td></td></tr>
      <tr> <td>14:30-15:15</td><td>Async Demo: <a href="cms-opendata-workshop.github.io/fixme">Luminosity and data quality.</a></td><td>(Edgar Carrera)</td></tr>
      <tr> <td>15:15-17:00</td><td>Async Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">TBA</a></td><td>(TBC)</td></tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Friday</h3>
    <table class="table table-striped">
      <tr> <td>08:30-10:30</td><td>Live Demo: <a href="cms-opendata-workshop.github.io/fixme">CMS analysis in the cloud</a></td><td>Clemens Lange<br>Adelina Lintuluoto</td></tr>
      <tr style="background-color:#e6ffff"><td>10:30-10:45</td><td>Break</td><td></td></tr>
      <tr> <td>10:45-11:45</td><td>Live Hands-on lesson: <a href="cms-opendata-workshop.github.io/fixme">CMS analysis in the cloud</a></td><td>Clemens Lange<br>Adelina Lintuluoto</td></tr>
      <tr style="background-color:#e6ffff"><td>11:45-12:00</td><td>Break</td><td></td></tr>
      <tr> <td>12:00-13:00</td><td>Live Hands-on lesson:<br><a href="cms-opendata-workshop.github.io/fixme">Systematics, results and interpretation</a></td><td>Matt Bellis</td></tr>
      <tr style="background-color:#e6ffff"> <td>13:00-14:30</td><td>Lunch</td><td></td></tr>
      <tr> <td>14:30-15:00</td><td>Live Featured Demo: <a href="cms-opendata-workshop.github.io/fixme">ADL</a></td><td>Sezen Sekmen</td></tr>
      <tr> <td>15:00-17:00</td><td>Wrap up and time for discussion</td><td></td></tr>
    </table>
  </div>
</div>
