<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-computing">Computing tools</h3>
    <ul>
        <li>CERN Open Data Portal</li>
        <li>CMS Open Data</li>
        <li>CMS Twiki</li>
        <li>ROOT</li>
        <li>Docker</li>
        <li>Virtual Machines</li>
        <!-- <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>-->
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-cmssw">CMSSW</h3>
    <ul>
        <li>Overview</li>
        <li>Data Model</li>
        <li>Analyzers</li>
        <li>Configuration</li>
        <li>Conditions Data</li>
        <!-- <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>-->
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-analysis">Analysis</h3>
    <ul>
        <li>Data and Simulation</li>
        <li>Selection</li>
        <li>Luminosity</li>
        <li>Backgrounds</li>
        <li>Systematics</li>
        <li>Interpretation</li>
      <!-- <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li> -->
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-examples">Analysis examples</h3>
    <ul>
        <li>Higgs to tau tau</li>
    </ul>
  </div>
</div>

